<%= simple_form_for [parent_or_nil, resource] do |form| -%>
  <%= form.error_notification %>

  <div class="form-inputs">
    <% form_fields.each do |form_field| -%>
      <%= render_form_field(form, form_field) -%>
    <% end -%>
  </div>
  <% if can?(:update, resource) || can?(:destroy, resource) %>
    <div class="form-actions">

      <% if can? :update, resource %>
        <%= form.button :submit, class: "btn btn-primary" %>
        <%= form.button :submit, "Save and continue", :name => "commit_and_continue" %>
      <% end %>

      <% unless resource.new_record? -%>
        <% if can? :destroy, resource %>
          <%= link_to "Delete #{resource_instance_name.to_s.humanize}", [parent_or_nil, resource], :class => "btn btn-danger delete", :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end %>
      <% end -%>

    </div>
  <% end -%>
<% end -%>
