<div id="overview">

  <%- if parent_or_nil.nil? || can?(:update, parent_or_nil) %>
    <%= link_to "Create new #{resource_class.model_name.human}", polymorphic_url([parent_or_nil, resource_class], action: :new), class: "btn btn-primary btn-right" %>
  <% end %>
  <h1><%= resource_class.model_name.human.pluralize %></h1>

  <%= render "scope_filters" if scopes_configuration %>
  <%= render "index_top" %>

  <table class="table table-hover">
    <thead>
      <tr>
        <% list_fields.each do |list_field| %>
          <th><%= list_field.humanize %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "list_item", collection: collection, list_fields: list_fields  %>
    </tbody>
  </table>

  <%= will_paginate collection %>

</div>
